body {
    margin: 0 auto;
    position: absolute;
    text-align: center;
    display: block;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(224, 255, 255);
}

.board-container td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.4em;
    border: 1px solid;
    border-radius: 3px;
}

table {
    border: none;
    margin: 20px auto;
    position: relative;
}

.selected {
    background-color: rgb(7, 161, 161);
}

.selected-mine {
    background-color: rgb(255, 196, 0);
}

.hints {
    height: 60px;
}

.safe {
    background-color: rgb(73, 211, 211);
}

button {
    background-color: rgb(255, 196, 0);
    border: none;
    padding: 7px;
    border-radius: 4px;
    font-size: 15px;
    margin: 5px;
    margin-bottom: 10px;
}

.manual {
    height: 90px;
}

.container h3 {
    display: inline;
}

.container h1 {
    display: inline;
    margin: 0 20px;
}

.container .hints {
    display: inline;
}